.bg-hover {
  position: relative;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  padding: 4px;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    background-color: var(--gray-a2);
    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: scale(0.5);
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }
}
