.clock{
    position: absolute;
    z-index: 10;
    width: 92px;
    height: 92px;
    margin-top: 0px !important;
    right: 8px;
    top: 16px;
}

.face{
    position: absolute;
    margin-top: 0px !important;
}