@import "@/styles/mdx.css";
@import "@/styles/radix.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--gray-12);
    background: var(--gray-1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}
