@import url("@radix-ui/colors/gray.css");
@import url("@radix-ui/colors/gray-alpha.css");
@import url("@radix-ui/colors/gray-dark.css");
@import url("@radix-ui/colors/gray-dark-alpha.css");
@import url("@radix-ui/colors/pink.css");
@import url("@radix-ui/colors/pink-alpha.css");
@import url("@radix-ui/colors/pink-dark.css");
@import url("@radix-ui/colors/pink-dark-alpha.css");
@import url("@radix-ui/colors/yellow.css");
@import url("@radix-ui/colors/yellow-alpha.css");
@import url("@radix-ui/colors/yellow-dark.css");
@import url("@radix-ui/colors/yellow-dark-alpha.css");
@import url("@radix-ui/colors/black-alpha.css");
@import url("@radix-ui/colors/white-alpha.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  * We are using the Radix UI Colors package to generate a set of color variables that can be used in the project.
  * @see: https://colors.radix-ui.com/
  */

  :root {
    --bg: var(--gray-1);
    --fg: var(--gray-12);
    --muted: var(--gray-8);
    --border: var(--gray-4);
    --scrollbar-thumb: var(--gray-4);
    --scrollbar-track: transparent;
    --selection-background: var(--pink-3);
    --selection-foreground: var(--pink-11);
    --kbd-background: var(--gray-3);
    --kbd-foreground: var(--gray-11);
    --kbd-border: var(--gray-4);
    --highlight-background: var(--yellow-3);
    --highlight-foreground: var(--yellow-11);
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;
  }

  *::selection {
    color: var(--selection-foreground);
    background-color: var(--selection-background);
  }

  html {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  * {
    text-wrap: pretty;
  }

  html {
    @apply text-default text-foreground bg-background;

    h1 {
      @apply font-medium;
    }

    h2,
    h3,
    sub,
    sup {
      @apply text-muted;
    }

    sub {
      @apply text-small;
    }

    a,
    tr {
      @apply transition hover:opacity-50;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    kbd {
      @apply mx-1;

      display: inline-block;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      padding: 0 6px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background: var(--kbd-background);
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  article {
    .flex > *,
    h1 + h2 {
      margin-top: 0 !important;
    }

    h1 + p,
    h2 + p {
      margin-top: 8px !important;
    }

    figure + h1,
    p + h1 {
      margin-top: 48px !important;
    }

    *:not(:first-child, kbd) {
      margin-top: 24px;
    }
  }

  /* 
  * We are using rehypye-pretty to style the code blocks in the project.
  * rehype-pretty-code is a Rehype plugin powered by the shiki syntax highlighter that provides beautiful code blocks for Markdown or MDX. 
  * It works on both the server at build-time (avoiding runtime syntax highlighting) and on the client for dynamic highlighting.
  * @see: https://rehype-pretty.pages.dev/
  */

  /* 
  * Here we are setting up the styles needed to enable theme-aware code blocks.
  * @see: https://rehype-pretty.pages.dev/#multiple-themes-dark-and-light-mode
  */

  html {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    &.dark {
      code[data-theme*=" "],
      code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
      }
    }
  }

  /* 
  * Here we are setting up the styles needed to enable line numbers in code blocks.
  * @see: https://rehype-pretty.pages.dev/#line-numbers
  */

  html {
    code[data-line-numbers] {
      counter-reset: line;
    }

    code[data-line-numbers] > [data-line]::before {
      display: inline-block;
      width: 12px;
      margin-right: 2rem;
      color: gray;
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }

    code[data-line-numbers-max-digits="2"] > [data-line]::before {
      width: 1.25rem;
    }

    code[data-line-numbers-max-digits="3"] > [data-line]::before {
      width: 1.75rem;
    }

    code[data-line-numbers-max-digits="4"] > [data-line]::before {
      width: 2.25rem;
    }

    p [data-line] {
      padding: 2px 4px;
      margin-right: 2px;
      margin-left: 2px;
      text-align: center;
      background-color: var(--kbd-background) !important;
      border-radius: 4px;
      box-shadow: 0 0 0 1px var(--kbd-border);
    }
  }

  /* 
  * Here we are just some additional styles to make the code blocks look better.
  * @see: https://rehype-pretty.pages.dev/#styles
  */

  * {
    pre [data-line] {
      margin-top: 0 !important;
    }

    pre {
      padding: 16px;
      overflow-x: auto;
      font-size: 12px;
    }

    figure {
      width: 100%;
      margin-top: 4px;
      border: 1px solid var(--border);
      border-radius: var(--radius-base);
    }
  }
}
