@import url("@radix-ui/colors/gray.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grayp3-app text-grayp3-normal;

    p,
    h1,
    h2,
    h3 {
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      letter-spacing: -0.09px;
    }

    sub {
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.01px;

      a {
        @apply decoration-grayp3-4;

        font-weight: 400;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
      }

      a:hover {
        opacity: 0.7;
      }
    }

    h1 {
      font-weight: 500;
    }

    h2,
    h3,
    sub {
      @apply text-grayp3-8;
    }

    .article {
      .flex > * {
        margin-top: 0 !important;
      }

      *:not(:first-child) {
        margin-top: 16px;
      }

      h1 + h2 {
        margin-top: 4px !important;
      }
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}

.preview {
  @apply border-gray-4 border mt-4 rounded-lg h-64 flex flex-col items-center justify-center;

  &[data-with-codeblock="true"] {
    @apply rounded-b-none;

    & + figure {
      @apply mt-0 border-t-0 rounded-t-none;
    }
  }
}

body {
  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  pre {
    @apply mt-4 border-gray-4 border rounded-xl;

    padding: 16px;
    overflow-x: auto;
    font-size: 12px;

    [data-line] {
      margin-top: 0 !important;
    }
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
