.preview {
  @apply border-gray-4 border mt-4 rounded-lg h-64 flex flex-col items-center justify-center;

  &[data-with-codeblock="true"] {
    @apply rounded-b-none;

    & + figure {
      @apply mt-0 border-t-0 rounded-t-none;
    }
  }
}

.article {
  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  figure {
    @apply mt-4 border-gray-4 border rounded-xl;

    padding: 16px;
    overflow-x: auto;
    font-size: 12px;

    &[data-line] {
      padding: 2px;
    }
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
