.article {
  p,
  h1,
  h2 {
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.09px;
  }

  h1,
  h2 {
    font-weight: 500;
  }

  h2 {
    @apply text-grayp3-8;
  }

  > * {
    margin-top: 16px;
  }

  > h1 + h2 {
    margin-top: 4px !important;
  }
}
