/* 
 * The components layer is for class-based styles that you want to be able to override with utilities.
 * @see: https://tailwindcss.com/docs/adding-custom-styles
*/

@tailwind components;

@layer components {
  @media (width <= 1080px) {
    .aside {
      position: static;
      padding: 0 0 2rem;
    }
  }

  .aside {
    position: fixed;
    top: 5rem;
    left: 5rem;
  }

  .return {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-top: 4px;
    font-size: 12px;
    color: var(--muted);
    letter-spacing: 0.01px;
    transition: color 0.1s ease;

    :hover {
      opacity: 0.5;
    }
  }
}

@layer components {
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 256px;
    padding: 48px;
    margin-top: 4px;
    border-color: var(--border);
    border-width: 1px;
    border-radius: var(--radius);

    &[data-with-codeblock="true"] {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      & + figure {
        margin-top: 0;
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

@layer components {
  .article {
    .flex > *,
    h1 + h2 {
      margin-top: 0 !important;
    }

    h1 + p,
    h2 + p {
      margin-top: 8px !important;
    }

    *:not(:first-child, kbd) {
      margin-top: 16px;
    }
  }
}

@layer components {
  .bg-hover {
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    padding: 4px;

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: "";
      background-color: var(--gray-a2);
      border-radius: 0.25rem;
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease;
      transform: scale(0.5);
    }

    &:hover::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer components {
  .footnotes {
    position: relative;
    padding-top: 16px;
    margin-top: 64px !important;
    border-top: none;
  }

  .footnotes::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: linear-gradient(to right, var(--border), var(--border));
    border-radius: var(--radius);
  }

  .footnotes ol {
    position: relative;
    display: block;
    padding: 0 0 0 4px;
    margin-top: 16px !important;
    list-style: none;
  }

  .footnotes li {
    margin-top: 0 !important;
  }

  .footnotes ol li {
    position: relative;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 12px;
    color: var(--muted);
    counter-increment: list;
  }

  .footnotes ol li::before {
    position: absolute;
    top: 0;
    right: 100%;
    font-size: 8px;
    content: counter(list);
  }

  .footnotes ol li p a {
    z-index: 2;
  }

  .footnotes .footnote-backref {
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
    }

    &:hover {
      opacity: 0.8;
    }

    a {
      color: var(--gray-9) !important;
    }
  }

  .footnote-superscript {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
  }
}
